body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(10 38 71);
}

/* Navbar */
.container-fluid{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.veto-navbar{
    height: 70px;
}

.nav-division{
    width: 50%;
}

.nav-division:last-child{
    display: flex;
    justify-content: end;
}

.veto-logo{
    width: 49px;
    height: 49px;
}

.veto-brand{
    width: 93px;
    height: 25px;
}

.getIt-playStore{
    width: 80px;
    height: 25px;
}

.veto-menu{
    width: 32px;
    height: 24px;
    margin-left: 1.5rem;
}

/* Main Banner */
.main-banner-parent{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 26rem;
    /* position: relative; */
}

.main-banner{
    width: 24rem;
    /* height: 308px; */
}

/* .main-banner-children{
    position: absolute;
} */

/* .dialoque01{
    width: 161px;
    top: 2.2rem;
    right: -0.02rem;
} */

/* .dialoque02{
    width: 150px;
    bottom: 3.5rem;
    left: .6rem;
} */

/* Game On */
.game-on-banner{
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.veto-game-on{
    width: 245px;
    /* height: 49px; */
}

.veto-game-on-description{
    width: 23rem;
}

/* .veto-game-on-download-btn{
    width: 24.6rem;
} */

.download-button{
    background-image: linear-gradient(#fb688a, #e13d63);
    color: #fff;
    width: 23.8rem;
    height: 3.3rem;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0 0 15px -7px #000;
    margin-bottom: .8rem;
}
.btn:not(:disabled):not(.disabled):active {
    background-image: linear-gradient(#fb688a, #e13d63);
}

/* Journey made easy */
.journey-made-easy-group{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.journey-made-easy{
    width: 26rem;
}

.bg-path-parent{
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.bg-path{
    /* width: 123%; */
    width: 100%;
    height: 49rem;
}

.path-corousel{
    width: 100%;
}

.bg-path-red-parent{
    width: 100%;
    position: relative;
    margin-top: -3rem;
}

.bg-path-red{
    width: 100%;
}

.bg-path-blue-parent{
    height: 127rem;
    width: 100%;
    position: relative;
    /* margin-top: -5rem; */
    margin-top: -8rem;
    padding: 2rem 0;
}

.bg-path-blue{
    width: 100%;
    position: absolute;
}

.bg-path-blue-content{
    width: 100%;
    position: absolute;
    margin-top: 4rem;
}

.partners-bg{
    position: absolute;
    display: flex;
    align-items: center;
    height: 32rem;
}

.bg-path-partners{
    position: absolute;
    z-index: 1;
    width: 100%;
}

/* .description{
    position: absolute;
} */

.footer-content-bg{
    position: absolute;
    width: 100%;
    height: 43rem;
}

.footer-content{
    position: absolute;
    width: 95%;
    top: 2rem;
}