.banner{
    height: 93.3vh;
}
#game_on{
    width: 340px;
    height: 73px;
}
#play_rummy_web{
    width: 408px;
    height: 104px;
}
#play_rummy_mobile{
    display: none;
    width: 318px;
    height: 98px;
}
#get_app_link_web{
    width: 407px;
    height: 36px;
}
/* #send_link_web{
    width: 568px;
    height: 72px;
} */
#send_link_web{
    width: 568px;
    height: 72px;
    display: flex;
    border-radius: 2.3rem;
}
#send_link_web > span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 13.9%;
    color: #0a2647;
    background-color: white;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: .7rem 0 0 0.7rem;
}
#send_link_web > input{
    width: 48.99%;
    font-size: 1.2rem;
    color: #102c4c;
    outline: none;
    border: none;
}
#send_link_web > button{
    width: 38.4%;
    border: none;
    background-image: linear-gradient(#fa6789, #e13c63);
    border-radius: 0 0.7rem 0.7rem 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-variant: unicase;
    outline: none;
    cursor: pointer;
}
#download_button{
    display: none;
    width: 328px;
    /* height: 48px; */
}
#your_journey_mob{
    display: none;
    margin-top: 3rem;
}
#get_it_on_playStore_web{
    width: 193px;
    height: 67px;
    cursor: pointer;
}
#main_image_web{
    width: 75%;
}
#main_image_mob{
    width: 75%;
    display: none;
}
#banner-left{
    margin-top: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
}
#banner-left > div{
    height: 79%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#banner-right{
    padding: 0;
}
#getFreeVetosOnSignUp{
    display: none;
}