.veto-footer{
    width: 100%;
    min-height: 130vh;
    background-color: #0A2647;
    font-family: sans-serif;
}
.footer-grand-parent{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-first-child{
    display: flex;
    padding-top: 3rem;
}
.footer-first-child-first-child, .footer-first-child-second-child{
    /* padding-left: 5rem; */
    padding: 0 3rem;
}
.footer-first-child-first-child > h5{
    color: #c0c0c0;
    margin-bottom: 1.3rem;
}
.footer-first-child-second-child > h5, .footer-second-child > h5, .footer-third-child > h5{
    color: #c0c0c0;
    line-height: 2rem;
}
.footer-second-child, .footer-third-child{
    text-align: center;
    padding: 0 3rem;
    
    /* padding-left: 5rem; */
}
.footer-first-child-first-child, .footer-first-child-second-child{
    flex: 1;
}